.titleRegistration{
    text-align: center;

}

.form-container{
    display: flex;
    justify-content: center;
}

.formRegistration{
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
